<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Data Entry</title>
</head>
<body>
    <h1>Data Entry Form</h1>

    <form method="POST" action="/user/add">
      <label>Username:</label><br>
      <input name="username" placeholder="Enter your name" required><br><br>
  
      <label>Email:</label><br>
      <input type="email" name="email" placeholder="Enter your email" required /><br><br>


      <label>Password:</label><br>
      <input type="password" name="password" placeholder="Enter your password" required /><br><br>
  
      <button type="submit">SUBMIT</button>
    </form>
</body>
</html>